.navigation {
  margin-top: 30px;
}

.navigation__elements {
  display: flex;
  flex-direction: row;
}

.navigation__home {
  font-size: 1.4rem;
  padding: 10px;
}

.navigation__home.active {
  text-decoration: underline;
  color: #fff;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

.navigation__create {
  font-size: 1.4rem;
  padding: 10px;
}

.navigation__create.active {
  text-decoration: underline;
  color: #fff;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
