*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Share Tech Mono", sans-serif;
}

body {
  margin: 0;
  position: relative;
  color: rgb(12, 53, 107);
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2016/03/01/903030/87786ac645ba2a2169a69f4d4553c024.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#root {
  position: relative;
  z-index: 1;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input {
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: rgb(12, 53, 107);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
